<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          
        </div>
      </div>
    </div>
    <div class="container">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>

    </div>
  
</body>
</html>
