<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          
        </div>
      </div>
    </div>
    <div class="container">
        <h1>Search for species</h1>
        <table>
          <td>
            <select id="searchbase">
              <option value="seriouslyfish">SeriouslyFish.com</option>
            </select>
          </td>
          <td>
            <input type="text" name="speciesname" placeholder="Apistogramma borellii">
          </td>
          <td>
            <input id="submitbutton" type="submit" value="Search">
          </td>
        </table>
        <p>Currently only SeriouslyFish.com in use.</p>
        <div id="result-div">
          <h2>Results</h2>
        </div>
    </div>
  
</body>
</html>

<script>

  $("#submitbutton").click( function() {

    var url = "/api/search_" + $( "#searchbase option:selected" ).attr( "value" );
    var data = {
      'speciesname': $('input[name=speciesname]').val()
    };

    var request = $.ajax({
      type: 'GET',
      url: url,
      data: data,
      dataType : 'json',
      encode: true
    })

    request.done( function( response ){

            $("#collapsible-info-group").remove();
      $("#no-data").remove();
      $("#result-div").append("<div class='panel-group' id='collapsible-info-group' role='tablist' aria-multiselectable='true'></div>");
      var $info_group = $("#collapsible-info-group");

      for(i = 0; i < response.data.length; ++i) {

        var new_entry_id = "entry_"+response.data[i].header;
        new_entry_id = new_entry_id.split(' ').join('-');
        var $new_entry = $( "<div id="+new_entry_id+" class='panel panel-default'></div>" );
        var $new_entry_header = $( "<div class='panel-heading' role='tab' id='heading_"+new_entry_id+"'><h4 class='panel-title'><a class='collapsed' role='button' data-toggle='collapse' data-parent='collapsible-info-group' href='#collapse_"+new_entry_id+"' aria-expanded='false' aria-controls='collapseThree'>"+response.data[i].header+"</a></h4></div>" );
        var entry_text = "";

        for(j = 0; j < response.data[i].text.length; ++j){
          entry_text = entry_text.concat("<p>"+response.data[i].text[j]+"</p>");
        }

        var $new_entry_body = $( "<div id='collapse_"+new_entry_id+"' class='panel-collapse collapse' role='tabpanel' aria-labelledby='heading_"+new_entry_id+"'><div class='panel-body'>"+entry_text+"</div></div>");
        $new_entry.append( $new_entry_header );
        $new_entry.append( $new_entry_body );
        $info_group.append( $new_entry );
      }


    });

    request.fail( function(jqXHR, textStatus ) {

      $("#collapsible-info-group").remove();
      $("#no-data").remove();
      $("#result-div").append("<p id='no-data'>"+jqXHR.responseJSON.message+"</p>");

    });

  });

</script>