<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          <div class="position-absolute-right">
            <% if (typeof user != 'undefined') { %>
              <p style="display:inline; color:white;">Logged in as <%=user%></p>
              <a href="/logout">Log out</a>
            <% } else { %>
              <a href="/login">Log in</a>
              <a href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <h1>Web API</h1>
        <p>Every API call returns a JSON object. Editing the species does not require authorization.</p>
        <hr>
        <h2>Models</h2>
        <hr>
        <div class="api-entry">
        <h3>Species</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Type</th>
              <th>Explanation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>_id</td>
              <td>MongoDB ObjectID</td>
              <td>Species id</td>
            </tr>
            <tr>
              <td>genus</td>
              <td>String</td>
              <td>Scientific name for the genus</td>
            </tr>
            <tr>
              <td>species</td>
              <td>String</td>
              <td>Scientific name for the species</td>
            </tr>
          </tbody>
        </table>
        </div>
        <hr>
        <h2>Methods</h2>
        <hr>

        <div class="api-entry">
          <h3>Species GET</h3>
          <p>Get all species. Returns either a species list or an error message.</p>
          <table class="table table-striped">
              <tr>
                <th>URL</th>
                <td>/api/species</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th>Response</th>
                <td>Status</td>
                <td></td>
                <td>Example JSON</td>
              </tr>
              <tr>
                <th></th>
                <td>Success</td>
                <td>200</td>
                <td>{"species":[{"_id":"57292d2f63538bc410a43f01","genus":"Pterophyllum","species":"leopoldi","__v":0,"careInfo":[]},{"_id":"572940384ce1e87013b283c3","genus":"Hyphessobrycon","species":"herbertaxelrodi","__v":0,"careInfo":{"pH":"", "general_hardness":"", "temperature":""}}</td>
              </tr>
              <tr>
                <th></th>
                <td>Internal Error</td>
                <td>500</td>
                <td></td>
              </tr>
          </table>
        </div>

        <div class="api-entry">
        <h3>Species GET</h3>
        <p>Get a species by id. Returns either a species or an error message.</p>
        <table class="table table-striped">
          <tr>
            <th>URL</th>
            <td>/api/species/:_id</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>URL parameters</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <td>_id</td>
            <td>MongoDB ObjectID</td>
            <td></td>
          </tr>
              <tr>
                <th>Response</th>
                <th>Status</th>
                <th></th>
                <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>Success</td>
                <td>200</td>
                <td>{"species":{"_id":"572a4f4ad6c44168130e161d","genus":"Apistogramma","species":"borellii","__v":0,"careInfo":{"pH":"", "general_hardness":"", "temperature":""}}}</td>
              </tr>
              <tr>
                <th></th>
                <td>Internal Error</td>
                <td>500</td>
                <td></td>
              </tr>
          </table>
        </div>

        <div class="api-entry">
        <h3>Species POST</h3>
        <p>Post a new species. Takes a scientific name for the genus and species as parameters. Returns either a species or an error message.</p>
        <table class="table table-striped">
          <tr>
            <th>URL</th>
            <td>/api/species</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>POST parameters</th>
            <th>Name</th>
            <th>Type</th>
            <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>genus [required]</td>
                <td>String</td>
                <td>{"species":{"genus":"Trichogaster","species":"chuna"}}</td>
              </tr>
              <tr>
                <th></th>
                <td>species [required]</td>
                <td>String</td>
                <td></td>
              </tr>
              <tr>
                <th>Response</th>
                <th>Status</th>
                <th></th>
                <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>Success</td>
                <td>201</td>
                <td>{"species":{"_id":"572a5930d6c44168130e161e","genus":"Trichogaster","species":"chuna","__v":0,"careInfo":{"pH":"", "general_hardness":"", "temperature":""}}}</td>
              </tr>
              <tr>
                <th></th>
                <td>Bad request</td>
                <td>400</td>
                <td>{message: 'species already exists'}</td>
              </tr>
              <tr>
                <th></th>
                <td>Internal Error</td>
                <td>500</td>
                <td></td>
              </tr>
          </table>
        </div>

        <div class="api-entry">
        <h3>Species name PUT</h3>
        <p>Edit the name of a species. Takes a scientific name for the genus and/or the species as parameters. Returns either a species or an error message.</p>
        <table class="table table-striped">
          <tr>
            <th>URL</th>
            <td>/api/species/:id/name</td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <th>URL parameters</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <td>_id</td>
            <td>MongoDB ObjectID</td>
            <td></td>
          </tr>
          <tr>
            <th>PUT parameters</th>
            <th>Name</th>
            <th>Type</th>
            <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>genus [optional]</td>
                <td>String</td>
                <td>{"species": {"genus": "Colisa", "species": "chuna"}}</td>
              </tr>
              <tr>
                <th></th>
                <td>species [optional]</td>
                <td>String</td>
                <td></td>
              </tr>
              <tr>
                <th>Response</th>
                <th>Status</th>
                <th></th>
                <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>Success</td>
                <td>200</td>
                <td>{"species":{"_id":"572a5930d6c44168130e161e","genus":"Colisa","species":"chuna","__v":0,"careInfo":{"pH":"", "general_hardness":"", "temperature":""}}}</td>
              </tr>
              <tr>
                <th></th>
                <td>Bad request</td>
                <td>400</td>
                <td>{"message":"invalid genus name"}</td>
              </tr>
              <tr>
                <th></th>
                <td>Internal Error</td>
                <td>500</td>
                <td></td>
              </tr>
          </table>
        </div>

        <div class="api-entry">
        <h3>Species info PUT</h3>
        <p>Edit the care information (water parameters) of the species. Takes a pH, temperature and general hardness values as strings. Returns either a species or an error message.</p>
        <table class="table table-striped">
          <tr>
            <th>URL</th>
            <td>/api/species/:id/info</td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <th>URL parameters</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <td>_id</td>
            <td>MongoDB ObjectID</td>
            <td></td>
          </tr>
          <tr>
            <th>PUT parameters</th>
            <th>Name</th>
            <th>Type</th>
            <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>pH [optional]</td>
                <td>String</td>
                <td>{"careInfo": {"pH": "7.5", "general_hardness": "2-5 dH", "temperature": "22-26C" }}</td>
              </tr>
              <tr>
                <th></th>
                <td>general_hardness [optional]</td>
                <td>String</td>
                <td></td>
              </tr>
              <tr>
                <th></th>
                <td>temperature [optional]</td>
                <td>String</td>
                <td></td>
              </tr>
              <tr>
                <th>Response</th>
                <th>Status</th>
                <th></th>
                <th>Example JSON</th>
              </tr>
              <tr>
                <th></th>
                <td>Success</td>
                <td>200</td>
                <td>{"species":{"_id":"572a5930d6c44168130e161e", "careInfo":{"pH": "7.5", "general_hardness": "2-5 dH", "temperature": "22-26C"}, "genus":"Colisa","species":"chuna","__v":0 }}}</td>
              </tr>
              <tr>
                <th></th>
                <td>Internal Error</td>
                <td>500</td>
                <td></td>
              </tr>
          </table>
        </div>

    </div>
  
</body>
</html>
