<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          <div class="position-absolute-right">
            <% if (typeof user != 'undefined') { %>
              <a href="/logout">Log out</a>
            <% } else { %>
              <a href="/login">Log in</a>
              <a href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <p> <%= message %> <p>
    </div>

    <% var submit_value; %>
    <% if( post_url == "login" ){ %>
    <%   submit_value = "Log in"; %>
    <% } else { %>
    <%   submit_value = "Register"; %>
    <% } %>

    <div class="container">
        <form action="/<%=post_url%>" method="post">
          <table>
            <tr>
              <td>
                <label>Username:</label>
              </td>
              <td>
                <input type="text" placeholder="username" name="username" required/>
              </td>
            </tr>
            <tr>
              <td>
                <label>Password:</label>
              </td>
              <td>
                <input type="password" placeholder="password" name="password" required/>
              </td>
            </tr>
          </table>
          <input type="submit" value="<%= submit_value %>" />
        </div>
      </form>

    </div>
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>