<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          <div class="position-absolute-right">
            <% if (typeof user != 'undefined') { %>
              <p style="display:inline; color:white;">Logged in as <%=user%></p>
              <a href="/logout">Log out</a>
            <% } else { %>
              <a href="/login">Log in</a>
              <a href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Edit or delete the comment</h1>
      <a href="/species/<%=comment.topic%>">Back to species profile</a> 
      <p> <%=comment.content%> </p>
      <textarea id="content" cols="50" rows="10"><%=comment.content%></textarea>
      <br>
      <button type="button" id="savebutton">Save changes!</button>
      <button type="button" id="deletebutton">Delete whole thing!</button>
    </div>

  

  <script>

    var url = "/api/comments/<%=comment.id%>";

    $( '#savebutton' ).click(function( event ) {

      var newContent = {
        'comment' : {
          'content' : $('textarea[id=content]').val()
        }
      };

      $.ajax({
        type: 'PUT',
          url: url,
          data: newContent,
          dataType : 'json',
          encode: true
        })
        .done(function( data ){
          location.reload();
        });
          event.preventDefault();
      });

    $( '#deletebutton' ).click(function( event ) {

      $.ajax({
        type: 'DELETE',
          url: url,
          dataType : 'json',
          encode: true
        })
        .done(function( ){
          window.location.href = "/species/<%=comment.topic%>";
        });
        event.preventDefault();
      });

  </script>  
</body>
</html>