<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          <div class="position-absolute-right">
            <% if (typeof user != 'undefined') { %>
              <a href="/logout">Log out</a>
            <% } else { %>
              <a href="/login">Log in</a>
              <a href="/register">Register</a>
            <% } %>           
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <h1>*Shriek*</h1>
        <p>The page you are looking for does not exist. (Or you are trying to look something you are not supposed to.)</p>
        <p>Are you sure you got the URL correct?<p>
    </div>
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
