<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/js/d3.layout.cloud.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          <div class="position-absolute-right">
            <% if (typeof user != 'undefined') { %>
              <p style="display:inline; color:white;">Logged in as <%=user%></p>
              <a href="/logout">Log out</a>
            <% } else { %>
              <a href="/login">Log in</a>
              <a href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <h1>Species</h1>
        <hr>
        <h2>Genera</h2>
        <div id="word-cloud"></div>
        <hr>
        <h2>Species</h2>
        <% var genusList = []; %>
        <%if (typeof results != 'undefined') { %>
          <% if ( results.length == 0 ) { %>
            <p>There aren't any species yet. :(</p>
          <% } else { %>

          <ul>
            <% (results).forEach(function(rt){ %>
              <%if (typeof rt != 'undefined') { %>
                <li>
                  <a href= <%=rt.url%> ><%= rt.genus %> <%= rt.species %></a>
                  <%  genusList.push(rt.genus); %>
                </li>
              <% } %>
            <% });%>
          </ul>
          <% } %>
        <% } %>

        <% var genusListString = JSON.stringify( genusList ); %>
        <hr>
    </div>
    
    <div class="container">
      <div>
        <h2>Not finding a species?</h2>
        <p>Are you itching to share your knowledge about a certain fish which you just cannot find? If your answer is "yes!", go ahead and fill the form to create a topic.</p>
        <form>
          <label>Genus</label>
          <input type="text" id="genus" placeholder="Apistogramma" pattern="[A-Z][a-z]*" required/>
          <label>Species</label>
          <input type="text" id="species" placeholder="borellii" pattern="[a-z]*" required/>
          <input type="submit" id="submitbutton" value="Send!"/>
        </form>
      </div>
      <hr>
    </div>
    <div id="list-div" data-list=<%= genusListString %> ></div>

<script>

  var list_div = document.getElementById("list-div");
  var genusliststring = list_div.getAttribute("data-list");
  var genuslist = JSON.parse(genusliststring);
  var genuslistcounted = [];

  var a = [], b = [], prev;
  genuslist.sort();

  // Count words
  for ( i = 0; i < genuslist.length; i++ ) {
    if ( genuslist[i] !== prev ) {
      a.push(genuslist[i]);
      b.push(1);
    } else {
      b[b.length-1]++;
    }
    prev = genuslist[i];
  }

  for( i = 0; i < a.length; i++ ){
    genuslistcounted.push( { "text" : a[i], "size" : b[i] } );
  }

  var fill = d3.scale.category20();
  // Use of colors for words.
  var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"]);

  // Config.
  d3.layout.cloud().size([800, 350])
      .words( genuslistcounted )
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size * 5 + Math.random() * 5; })
      .on("end", draw)
      .start();

  function draw(words) {

    // Create svg element.
    d3.select("#word-cloud").append("svg")
        .attr("width", "100%")
        .attr("height", "400")
      .append("g")
        .attr("transform", "translate(320,200)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });

  }


    var url = "/api/species";
    $( '#submitbutton' ).click(function( event ) {

      var newSpecies = { 
        'species' : {
          'genus' : $('input[id=genus]').val(),
          'species' :$('input[id=species]').val()
        }
      };

      $.ajax({
        type: 'POST',
          url: url,
          data: newSpecies,
          dataType : 'json',
          encode: true
        })
        .done(function( data ){
          location.reload();
        });
          event.preventDefault();
      });


  </script>
  

</body>
</html>
