<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><%= siteName %></a>
          <div class="position-absolute-right">
            <% if (typeof user != 'undefined') { %>
              <p style="display:inline; color:white;">Logged in as <%=user.username%></p>
              <a href="/logout">Log out</a>
            <% } else { %>
              <a href="/login">Log in</a>
              <a href="/register">Register</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

        <h1><%= species.genus + " " + species.species %></h1>
        <input type="submit" id="deleteButton" value="Delete fish profile">
        <hr>
        <table id="datatable" hidden=true>
          <tr>
            <td>
              <div id="image">
                <canvas id="canvas" style="border:1px solid #d3d3d3;" hidden>
                </canvas>
              </div>
            </td>
            <td>
              <div id="synonyms">
                <h3>Synonyms</h3>
              </div>
            </td>
          </tr>
        </table>
        <hr>

        <h3>Water parameters</h3>
        <table class="info-table">
          <tr>
            <th>pH</th>
            <td class="value-column" id="pH"><%= species.careInfo.pH %></td>
            <td class="edit-column" hidden=true><input type="text" id="pH" name="pH" value="7" ></td>
          </tr>
          <tr>
            <th>general hardness</th>
            <td class="value-column" id="general_hardness"><%= species.careInfo.general_hardness %></td>
            <td class="edit-column" hidden=true><input type="text" id="general_hardness" name="general_hardness" value="4 dH"  ></td>
          </tr>
          <tr>
            <th>temperature</th>
            <td class="value-column" id="temperature"><%= species.careInfo.temperature %></td>
            <td class="edit-column" hidden=true><input type="text" id="temperature" name="temperature" value="25 C"></td>
          </tr>

        </table>
        <input type="submit" id="editInfoButton" value="Edit water parameters">
        <input type="submit" id="saveInfoButton" value="Save changes" hidden=true>
        <hr>

        <h2>Users' experiences</h2>
        <% if (typeof user != 'undefined') { %>

        <% if( !commented ){ %>
          <form id="form">
            <fieldset>
              <input type="hidden" id="user" name="user" value=<%= user.userid %> >
              <input type="hidden" id="topic" name="topic" value=<%= species.id %> >
              <textarea id="content" cols="50" rows="10" placeholder="Share your knowledge and experience! Note: this is not a forum. You'll only get one comment per species, but you can edit it as much as you want."></textarea>

              <input type="submit" value="Send message" />

            </fieldset>
          </form>
          <% } %>
        <% } %>

        <div id="comments">
        <%if (typeof comments != 'undefined') { %>
          
          <% (comments).forEach(function(cmt){ %>

            <div class="container-fluid">
              
              <div class="row">
              <div class="border-black">  

                  <div class="col-md-9 col-md-push-3" style="background-color: #f9f9f9;">
                    <b><%= cmt.writer %></b> (<%= cmt.comment.created %>)
 
                    <div class="position-relative-right">
                      <% urli = "/comment/"+cmt.comment.id; %>
                      <% if(cmt.own){ %>
                        <a href= <%=urli%> >Edit/Remove</a>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-md-3 col-md-pull-9">
                    <div class="padded-15">
                      <%= cmt.comment.content %>
                    </div>
                  </div>

              </div>
              </div>
            </div>
            
          <% });%>
        <% } %>
      </div>
    </div>

    <script>

      var genus = "<%=species.genus%>";
      var species = "<%=species.species%>";
      var species_url = "/api/species/<%=species.id%>";;

      var phylopic_name_search_url;
      var phylopic_name_uid;
      var phylopic_image_seach_url;

      // Get synonyms of the name
      jQuery(function($){
        phylopic_name_search_url = "http://phylopic.org/api/a/name/search?text="+genus+"+"+species+"&options=names+html";
        // Get synonyms/names for the species from phylopic.
        $.ajax({
          type: 'GET',
          url: phylopic_name_search_url,
          dataType: 'jsonp',
        }).done(function(response){ 
          if( response.result ){
            if( response.result[0] ){
              var names = response.result[0].names;
                if( names ){
                  $('#datatable').show();
                  phylopic_name_uid = names[0].uid;
                  $( "#synonyms" ).append( '<p>');
                  for( i = 0; i < names.length; i++ ){
                    // result has readu <span> elements holding the names.
                    $( "#synonyms" ).append( names[i].html );
                    if( i < names.length - 1){
                      $( "#synonyms" ).append( ', ' );
                    }
                  }
                  $( "#synonyms" ).append( '</p>' );
                }
              }
            }
            // Find silhouette from phylopic.
            jQuery(function($){

              // Only search if found an id. Otherwise there'll be no pics.
              if( phylopic_name_uid ){
                phylopic_image_seach_url = "http://phylopic.org/api/a/name/"+phylopic_name_uid+"/images?options=pngFiles";

                $.ajax({
                  type: 'GET',
                  url: phylopic_image_seach_url,
                  dataType: 'jsonp',
                }).done(function(response){
                  if( response.result ){
                    if( response.result.same[0] ){
                      if( response.result.same[0].pngFiles ){

                        var image = response.result.same[0].pngFiles[0];
                        var canvas = $("#canvas");
                        var context = canvas[0].getContext("2d");

                        // Scale image.
                        var maxWidth = 150;
                        var maxHeight = 150;
                        var ratio = 0;
                        var newWidth = 0;
                        var newHeight = 0;
                        // Calculate to fit maxMeasures
                        if( image.width > image.height ){
                          ratio = image.height / image.width;
                          newWidth = maxWidth;
                          newHeight = newWidth * ratio;
                        } else {
                          ratio = image.width / image.height;
                          newHeight = maxHeight;
                          newWidth = newHeight*ratio;
                        }
                        // Resize canvas.
                        context.canvas.width = newWidth+10;
                        context.canvas.height = newHeight+10;
                        // Create image.
                        var $img = $('<img>', { src: 'http://phylopic.org/'+image.url });
                        // Draw and show.
                        $img.load(function() {
                          context.drawImage(this, 5, 5, newWidth, newHeight);
                        });
                        canvas.show();
                      }
                    } 
                  }
                }).fail(function(error){
                  console.log("error:" + error.statusText);
                });
              }
            });

          }).fail(function(error){
            console.log("error:" + error.statusText);
          });

        });

        // Delete species
        $("#deleteButton").click(function () {
          $.ajax({
            type: 'DELETE',
            url: species_url,
            dataType : 'json',
            encode: true
          })
          .done(function( ){
            window.location.href = "/species";
          });
        });

        // Save edited waterparameters
        $("#saveInfoButton").click(function () {
          var infoData = {
            'careInfo': {
              'pH' : $('input[name=pH]').val(),
              'general_hardness' : $('input[name=general_hardness]').val(),
              'temperature' : $('input[name=temperature]').val()
            }
          };
          $.ajax({
            type: 'PUT',
            url: species_url+'/info',
            data: infoData,
            dataType : 'json',
            encode: true
          })
          .done(function( updatedSpecies ){
            $('#pH').html( updatedSpecies.careInfo.pH );
            $('#general_hardness').html( updatedSpecies.careInfo.general_hardness );
            $('#temperature').html( updatedSpecies.careInfo.temperature );
            $(".edit-column").hide();
            $(".value-column").show();
            $("#saveInfoButton").hide();
            $("#editInfoButton").show();
          });
        });

        // Open edit fields
        $("#editInfoButton").click(function () {
          $(".edit-column").show();
          $(".value-column").hide();
          $("#saveInfoButton").show();
          $("#editInfoButton").hide();
        });


        $( "form" ).submit(function( event ) {
          // Create new comment from form data.
          var formData = { 
            'comment' : {
              'user' : $('input[name=user]').val(),
              'topic' : $('input[name=topic]').val(),
              'content' : $('textarea[id=content]').val()
            }
          };

          // Send
          $.ajax({
            type: 'POST',
              url: '/api/comments',
              data: formData,
              dataType : 'json',
              encode: true
            }).done(function( data ){
              // User has commented the topic. Don't offer a new one.
              $( "form" ).hide();
              // Append the newly sent comment to the comment div.
              $("#comments").append('<div class="container-fluid"><div class="row"><div class="border-black"><div class="col-md-9 col-md-push-3" style="background-color:#f9f9f9;">'+data._id+' ('+data.created+') <div class="position-relative-right"><a href=/comment/'+data._id+'>Edit/Remove</a></div></div><div class="col-md-3 col-md-pull-9"><div class="padded-15">'+data.content+'</div></div></div></div></div>');
            });
            event.preventDefault();
          });
    </script>        
  </body>
</html>
